:root {
  --text-color: white;
  --background-color: rgb(54, 52, 52);
  --accent-color: skyblue;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
}
.navar_logo {
  font-size: 18px;
  color: var(--text-color);
}
.navar_logo i {
  color: var(--accent-color);
}
.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar_menu li:hover {
  background-color: var(--accent-color);
  border-radius: 10px;
}
.navbar_menu li {
  padding: 8px 12px;
}
.navbar_links {
  display: flex;
  list-style: none;
  color: var(--text-color);
  padding: 0;
}
.navbar_links li {
  padding: 8px 12px;
}
.navbar_toogleBtn {
  display: none;
  position: absolute;
  margin-top: -5px;
  right: 28px;
  font-size: 24px;
  color: var(--accent-color);
}
@media screen and (max-width: 650px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 24px;
  }
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_menu li {
    width: 100%;
    text-align: center;
  }
  .navbar_links {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar_toogleBtn {
    display: block;
  }
  .navbar_menu.active,
  .navbar_links.active {
    display: flex;
  }
}
