* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.introdution {
  height: 900px;
  background-color: rgb(235, 225, 213);
}
.head_title {
  padding-left: 20px;
  padding-top: 20px;
}
/* .fadein_fifa_card {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
} */

.fadein_fifa_card {
  animation-name: fadein_fifa_card;
  visibility: visible;
  animation-fill-mode: both;
  animation-duration: 2s;
  animation-play-state: running;
}
@keyframes fadein_fifa_card {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateZ(50%);
    width: 400px;
    height: 600px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
}
