* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.introdution {
  height: 900px;
  background-color: rgb(235, 225, 213);
}
.head_title {
  padding-left: 20px;
  padding-top: 20px;
}
.My_Profile {
  display: block;
  margin-left: 400px;
  margin-top: -500px;
  font-size: 30px;
}
.first_profile {
  margin-top: 20px;
}

@media (max-width: 480px) {
}
