@font-face {
  src: url("./paybooc_font/paybooc ExtraBold.ttf");
  font-family: "all_font";
  font-weight: normal;
  font-style: normal;
  -webkit-font-family: "all_font";
  -ms-font-family: "all_font";
  -webkit-font-weight: normal;
  -ms-font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "all_font";
  -webkit-font-family: "all_font";
  -ms-font-family: "all_font";
}
html {
  font-family: "all_font";
  -webkit-font-family: "all_font";
  -ms-font-family: "all_font";
  scroll-behavior: smooth;
}
.Mac_kind {
  display: flex;
  flex-direction: column;
}
.Mac {
  width: 400px;
  height: 250px;
  background-color: rgb(174, 168, 168);
  border-radius: 4px;
  margin: 20px;
  box-shadow: 2px 3px 5px 0;
}
.groundColor {
  display: flex;
  margin-left: 10px;
  padding-top: 15px;
}
.color1 {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: red;
}
.color2 {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: orange;
}
.color3 {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: green;
}
.color1,
.color2,
.color3 {
  margin: 2px;
  margin-top: 3px;
}
.MacLink {
  color: black;
}
.MacScreen {
  width: 400px;
  height: 170px;
  background-color: white;
  margin-top: 15px;
  opacity: 0.5;
}
.MacScreen2 {
  font-size: 40px;
  text-align: center;
  padding-top: 55px;
  opacity: 0.5;
}
.MacScreen:hover,
.MacScreen2:hover,
.MacScreen2_pff:hover,
.MacScreen2_dm:hover {
  opacity: 1;
  transition: opacity ease-in 500ms;
}
.MacScreen2_pff {
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
  opacity: 0.5;
}
.MacScreen2_dm {
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  opacity: 0.5;
}
.MacButton {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: white;
  margin-left: 195px;
  margin-top: 5.5px;
}
.MacButton:hover {
  background-color: red;
  transition: background-color ease-out 1500ms;
  -webkit-transition: background-color ease-out 1500ms;
  -ms-transition: background-color ease-out 1500ms;
}
.MacRight {
  position: absolute;
  font-size: 25px;
  left: 50%;
  margin-top: -140px;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

@media (min-width: 320px) and (max-width: 480px) {
  .MacRight {
    display: none;
  }
}
