* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.introdution {
  height: 900px;
  background-color: rgb(235, 225, 213);
}
.head_title {
  padding-left: 20px;
  padding-top: 20px;
}
.My-card {
  margin-top: -80px;
}
.My_Profile {
  display: block;
  margin-left: 400px;
  margin-top: -510px;
  font-size: 30px;
}
.first_profile {
  margin-top: 20px;
  padding: 20px;
}
.info-link {
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 500ms;
  animation-name: info-link;
}
@keyframes info-link {
  0% {
    color: black;
  }
  50% {
    color: rgb(138, 138, 138);
  }
  100% {
    color: black;
  }
}
.Mycareer {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -200%);
}
.career-ul {
  display: flex;
  justify-content: space-between;
}
.C-cgv,
.C-nara,
.C-ht,
.C-DND {
  padding: 30px;
}

@media (max-width: 480px) {
}
